@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}
    
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 330px;
}
    
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding-top: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    box-sizing: border-box;
    height: 500px;
    z-index: 1000;
}
    
#image {
    height: 250px;
    width: 250px;
    border-radius: .5rem;
}
    
.content {
    background-color: hsl(0, 0%, 100%);
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}
    
.content p {
    background-color: hsl(0, 0%, 100%);
    font-weight: 900;
    /* padding-left: 20px; */
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}
    
h3 {
    background-color: white;
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
    text-align: center;
}